.connect {
  height: min-content;
  border-radius: 30px;
  box-shadow: 0px 0px 15px transparent;
  background-image: linear-gradient(to right bottom, #f0feff, #aaf8ff);
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;

  &Text {
    text-transform: uppercase;
    color: #848ae4;
    font-size: 18px;
    font-weight: bold;
  }

  &:hover {
    box-shadow: 0px 0px 15px #dcfdff;
    transition: 0.2s;
  }

  &Disabled {
    cursor: default;

    &:hover {
      box-shadow: 0px 0px 15px transparent;
    }
  }
}

@media (max-width: 1280px) {
  .connect {
    margin: 10px 0 40px;
    box-shadow: 0px 0px 15px #dcfdff;
    background-image: linear-gradient(to right bottom, #848ae4, #747acb);

    &Text {
      color: white;
    }
  }
}
