@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.woff2'), url('#{$file-path}.woff');
      font-weight: $weight;
      font-style: $style;
  }
}

@include font-face("Jost", "./fonts/Jost/Jost-Regular", 400);
@include font-face("Jost", "./fonts/Jost/Jost-Italic", 400, italic);
@include font-face("Jost", "./fonts/Jost/Jost-Bold", 700);
